.root{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    gap: 10px;
}
.listProd{
    
    width:  30%;
    
}
.StartProd{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    
    

}